


* {
    box-sizing: border-box;
    margin: 0;
    padding-top: 50%;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

body, html {
    overflow-x: hidden;
    }

.navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 20;
}

.nav-href{
    color: #fff;
    text-decoration: none;
}

.Nav-img-link img {
    width: 20%; 
    top: 0;
    cursor: pointer;
}

.nav-link{
          
          margin-right: 20px;
          margin-left: 20px;
          font-size: large;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          height: 100%;
          width: 100%;
          
}

.nav-link:hover {
    color: #185A9D;
    transition: all 0.3s ease;
}

.offcanvas-title {
    color: black;
}

.navbar-toggler {
    position: absolute;
    right: 0;
    padding-right: 20px;
}

.button {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    transition: all 0.3s ease;
}


/* Hero Section */ 
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
  }
  
  .home .content{
    text-align: center;
  }
  .home .video-container video{
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;
    height: calc(113vh - 80px);
    min-height: 600px;
    object-fit: cover;
  }
  

.hero__heading {
    font-size: 70px;
    margin-bottom: 24px;
    color: #fff;

}

.hero__description {
    font-size: 30px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    color: #fff;
}

.highlight {
    border-bottom: 4px solid #185A9D;
}

@media screen and (max-height: 480px) {
    .hero__heading {
          margin-top: 10%;
    }
    
}

.wrapper {
        position: absolute;
        width: 100%;
      }
      
.gradient {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3));
        width: 100%;
        height: calc(113vh - 80px);
        min-height: 600px;
        object-fit: cover;
        position: relative;
        z-index: -1;
        
      }

@media screen and (max-width: 768px) {
    .hero__heading {
        font-size: 50px;
    }
    .hero__description {
        font-size: 25px;
    }
}
/* About Section */ 
.main {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 6rem 0;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    color: #fff;
    width: 100%;
}

.main__content h1 {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 32px; 
}

.main__content h2 {
    color: #fff;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__container p {
    color: #fff;
    margin-top: 1rem;
    font-weight: 750;
}

.main__btn {
    font-size: 1.8rem;
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #185A9D;
    transition: all 0.35s;
    border-radius: 4px;
}
.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    flex:1 1 35rem;
    height: 25rem;
    position: relative;
    margin: 5%;
  }
  
  
.box .content{
    position: absolute;
    top:-100%; left:0;
    height: 100%;
    width:100%;
    text-align: center;
    background:rgba(0,0,0,.7);
    padding:2rem;
    padding-top: 5rem;
    transition: 0.3s ease-in;
  }
  
.box:hover .content{
    top:0;
  }
  
.box .content h2{
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem 0;
}
.box .content h3{
    font-size: 1rem;
    color:#fff;
    padding: .5rem 0;
  }
  
.box .content a{
    font-size: 1rem;
    color:#eee;
    padding:.5rem 0;
  }

.box .content a:hover{
    color: #185A9D ;
}

.box {
    text-align: center;
    align-items: center;
    margin: auto;
}

.img-fluid {
    height: 100%;
}
/* mobile response */ 

@media screen and (max-width: 1097px) {
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .box {
        text-align: center;
        align-items: center;
    }

    .img-fluid {
        height: 100%;
       
    }

    .main__img--container {
        display: flex;
        justify-content: center;
    }


    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }
    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .main__content h2 {
        font-size: 3rem;
    }
    .main__content p {
        margin-top: 1rem;
        font-size: 500;
    }
}

@media screen and (max-width: 561px) {
    
    .box {

        text-align: center;
        align-items: center;
        justify-content: center; 
        display: flex;
        margin: -50px;
        margin-left: 0;
        margin-right: 0;
        overflow-x: hidden;
    }
    .img-fluid {
        height: 70%;
       
    }
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main__content h2 {
        font-size: 2rem;
    }
    .main__content p {
        margin-top: 2rem;
        font-size: 1rem;
    }
    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}
/* Services section */ 

.services {
    background: #F8F9FA; 
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
    padding-bottom: 10rem;
}

.services h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    }
.services__card1 {
    margin: 10px 30px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(./Images/Hospitality.jpg);
    background-size: 300px 425px; 
    transition: 0.3s ease-in;

}
.services__card2 {
    margin: 10px 30px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(./Images/Public_admin.jpg);
    background-size: 300px 425px; 
    transition: 0.3s ease-in;

}

.services__card3 {
    margin: 10px 30px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(./Images/supplying_information_RS.jpg);
    background-size: 300px 425px; 
    transition: 0.3s ease-in;

}



.services__card1 h2 {
    text-align: center;
}

.services__card1 p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.services__card1:hover {
    cursor: pointer;
}

.services__card1:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.services__card2 h2 {
    text-align: center;
}

.services__card2 p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.services__card2:hover {
    cursor: pointer;
}

.services__card2:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}
.services__card3 h2 {
    text-align: center;
}

.services__card3 p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.services__card3:hover {
    cursor: pointer;
}

.services__card3:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}


.services__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}


.services__card3 button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046);
    font-size: 1rem;
}

.services__card3 button:hover {
    cursor: pointer;
    
}
.services__card3:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.services__card2 button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046);
    font-size: 1rem;
}

.services__card2 button:hover {
    cursor: pointer;
    
}
.services__card2:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.services__card1 button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046);
    font-size: 1rem;
}

.services__card1 button:hover {
    cursor: pointer;
    
}

.services__card1:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.carousel-inner .carousel-item img { margin:auto; }

.companies {
    margin-top: -5%;
    background-color: #F8F9FA;
    padding-bottom: 5%;
}

.companies h2 {
    text-align: center;
    padding-bottom: 2%;
}




@media screen and (max-width: 1300px) {
    .services__wrapper {
        grid-template-columns: 1fr 1fr;
     }
}

@media screen and (max-width: 768px) {
    .services__wrapper {
        grid-template-columns: 1fr;
    }
}

/* Contacts */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.background{
    padding-top: 5%;
    padding-bottom: 5%;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.useful-links{
    position: absolute;
    top: 5%;
    right: 5%;

}
.useful-links a{
    display: block;
    color: #fff;
    text-decoration: none;
}

.contact-container form{
    width: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative;
}
.fa-paper-plane{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.input-group label{
    flex-basis: 28%;
}
.input-group input, .input-group textarea{
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
}

form button{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}


.input-group span{
    position: absolute; 
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: red ;
}

#submit-error{
    color: red;
}


/* Footer section */


.link a {
    color: black;
    text-decoration: none;
}

.link a:hover {
    color: #185A9D;
}

footer {
    background-color: #F8F9FA;
    position: relative;
    padding: 5%;
}

.footer-img-link img {
        width: 70%; 
        padding-left: 5%;
        padding-right: 5%;
        top: 0;
        cursor: pointer; 
        margin-top: -5%;
}



@media screen and (max-width: 767px) {
    .footer-img-link img {
          margin-left: 65%;
          margin-right: 50%;
    }

}

@media screen and (max-width: 575px) {
    .footer-img-link img {
          width: 40%;
          position: absolute;
          right: 30%; 
          margin: 1%;
    }

  
}


/* About View */ 



.description h1 {
    margin-top: 4.5%;
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
}

article {
    width: 60%;
    margin: 5%;
}

@media screen and (max-width: 914px) {
    .description h1 {
        padding-top: 15%;
        padding-bottom: 6%;
    }
    
}

.founder-header {
    padding-top: 3%;
}


@media screen and (max-width: 990px) {
     article {
        width: 90%;
     }

}

/* contact views */

.contact-heading {
    color: white;
    padding: 5%;
}

.list-group {
    margin: 3%;
}

.list-group a {
    color: black;
    text-decoration: none;
}

.list-group a:hover {
    color: #185A9D;
}

@media screen and (max-width: 946px) {
    .contact-heading {
        padding-top: 10%;
    }
    
}

@media screen and (max-width: 720px) {
    .contact-heading {
        padding-top: 15%;
    }
    
}

/* Fantu view */

.fantu-profile {
    margin-top: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fantu-profile a {
   color: black;
   text-decoration: none;
}


.fantu-profile a:hover {
    color: #185A9D;
}

@media screen and (max-width: 991.20px) {
    .fantu-profile {
        margin-top: 18%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Tourism view */

.Tourism-header {
    background:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(./Images/Travel.jpg);
    padding-top: 5%;
    padding-bottom: 2%;
    margin-top: 4.5%;
    color: white;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .Tourism-header h1 {
        margin-top: 5%;
        padding-top: 15;
        padding-bottom: 6%;
    }
    
}

@media screen and (max-width: 914px) {
    .Tourism-header h1 {
        padding-top: 15%;
        padding-bottom: 6%;
    }
    
}


@media screen and (max-width: 1127px) {
    .Tourism-header h1 {
        padding-top: 5%;
        padding-bottom: 3%;
    }
    
}

/* Governance view */ 

.governance-header {
        background:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(./Images/Governance_headerBG.jpg);
        padding-top: 5%;
        padding-bottom: 2%;
        margin-top: 4.5%;
        color: white;
        text-align: center;
    
}

@media screen and (max-width: 700px) {
    .governance-header h1 {
        margin-top: 5%;
        padding-top: 15%;
        padding-bottom: 6%;
    }
    
}

@media screen and (max-width: 914px) {
    .governance-header h1 {
        padding-top: 15%;
        padding-bottom: 6%;
    }
    
}


@media screen and (max-width: 1127px) {
    .governance-header h1 {
        padding-top: 5%;
        padding-bottom: 3%;
    }
    
}

/* Risk View */

.risk-header {
    background:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(./Images/Risk_header.jpg);
    padding-top: 5%;
    padding-bottom: 2%;
    margin-top: 4.5%;
    color: white;
    text-align: center;

}

@media screen and (max-width: 700px) {
.risk-header h1 {
    margin-top: 5%;
    padding-top: 15%;
    padding-bottom: 6%;
}

}

@media screen and (max-width: 914px) {
.risk-header h1 {
    padding-top: 15%;
    padding-bottom: 6%;
}

}


@media screen and (max-width: 1127px) {
.risk-header h1 {
    padding-top: 5%;
    padding-bottom: 3%;
}

}


